@model IEnumerable<WebApplication2.Models.LeaveRequest>
<hr />
<p>
    @Html.ActionLink("Apply Leave", "Create")
</p>
<hr />
<h3>No of Leaves Available: @Html.DisplayFor(model => model.ElementAt(0).Employees.LeaveBalance)</h3>
@Html.HiddenFor(model => model.ElementAt(0).Employees.UserName)
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Serial No")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
    </tr>
    @{ int a = 0; }
    @foreach (var item in Model)
    {
        if (item.LeaveRequestId > 0)
        {
            <tr>
                <td>
                    @(++a)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
            </tr>
        }
    }
</table>
